/*----------------------------------ARRAYS----------------------------------*/

.dogarray-container {
  padding: 1em 6em;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.dogarray-character h6,
.dogarray-commands h6 {
  margin-right: 0.5em;
  display: inline;
}

.dogarray-character,
.dogarray-commands {
  display: flex;
  align-items: center;
  margin: 1em;
}

.array-box-text {
  width: 20%;
  margin-right: 1em;
}

.array-box-array {
  width: 80%;
}

.arraybuttons {
  font-size: 1em;
  text-transform: lowercase;
  margin: 0.5em;
  width: 16%;
}

/* 
  Blue (primary): #3699E2
  Yellow: #F4C34D
  Red: #DC3C4D 
  Offwhite: #F8FBFD*/
