.createdog-container {
  display: flex;
  flex-direction: column;
}

.createdog-header {
  height: 400px;
  width: 100%;
  background-image: url("../../img/headerphotos/24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.createdog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------------------------FORM----------------------------------------*/

.createdog-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.createdog-inputfields {
  border: solid orange;
  display: flex;
}

/*------------------------------------BOOLEANS----------------------------------------*/

.createdog-booleans {
  display: flex;
  justify-content: space-between;
  padding: 1em 5em;
  border-bottom: solid 2px rgb(231, 231, 231);
}

/*------------------------------------ARRAYS----------------------------------------*/
.createdog-arrays {
  display: flex;
  padding: 1em 4em;
  border-bottom: solid 2px rgb(231, 231, 231);
}

/*------------------------------------BOTTOM----------------------------------------*/

.createdog-bottom {
  margin: 0 auto;
  margin-bottom: 3em;
}

.submitbutton {
  background-color: #dc3c4d;
  color: #f8fbfd;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  min-width: 100px;
  font-family: "Kollektif", "Arial";
  font-size: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.submitbutton:hover {
  background-color: #d65d69;
}

/* 
  Blue (primary): #3699E2
  Yellow: #F4C34D
  Red: #DC3C4D 
  Offwhite: #F8FBFD*/
