.leaflet-container {
  width: 100%;
  height: 500px;
  margin: 1rem 1rem; 
}

.headerPlaces {
  height: 600px;
  width: 100%;
  position: relative;
  background-image: url("../../img/headerphotos/20.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;
}

.slogan {
  margin: 1em;
}

.button-header {
  margin-left: 1em;
  width: 150px;
}

.container {
  display: flex;
}

.locations {
  width: 20%;
}


/*----------MEDIA QUERIES------------*/

@media (min-width: 1530px) {
  .headerPlaces {
    /* height: 600px; */
    background-position: 0 45%;
  }
}

@media (min-width: 1960px) {
  .headerPlaces {
    height: 600px;
  }
}

@media (min-width: 2300px) {
  .headerPlaces {
    height: 700px;
  }
}
