/*DRAGNDROP PROFILEPIC*/

.profilepic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  border: 2.5px dashed lightgrey;
  cursor: pointer;
}

.profilepic-img {
  height: 100%;
  margin-top: -13px;
  margin-left: 2px;
}

.profilepic-img img {
  width: 25px;
}

/*DRAGNDROP GALLERY*/

.dragndrop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 10px;
  border: 2.5px dashed lightgrey;
  cursor: pointer;
}

.dragndrop-img {
  margin-bottom: 1em;
}

.dragndrop-img img {
  width: 100px;
}

/*PROFILEPIC*/

/* .renderprofilepic {
  display: flex;
  width: 90%;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: -3em;
} */

.renderprofilepic img {
  border: solid 4px white;
  max-width: 100px;
  margin-top: -14%;
}

/*IMAGELIST*/

.file-list {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.renderedimages img {
  border: solid 4px white;
  max-width: 100px;
  margin: 1em;
}
