/*-----------ABOUT-----------*/
.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left {
  padding: 1em 1.5em;
  width: 60%;
  margin-bottom: 3em;
}

.about-right {
  width: 40%;
  background-image: url(../../img/other/5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*-----------FAQ-----------*/
.faq-container {
  background-image: url(../../img/transparent-background/4.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-color: #3699e2;
  padding: 1em;
  display: flex;
}

.faq-left {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  width: 30%;
}

.faq-right {
  display: flex;
  justify-content: center;
  width: 70%;
}

.faq-numbers {
  display: flex;
  justify-content: center;
  background-color: #f4c34d;
  padding: 0.3em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.faq-text {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#question p {
  cursor: pointer;
  position: relative;
  top: 36px;
  height: 30px;
  width: 50%;
  margin-left: 1em;
}

#question {
  display: flex;
  width: 100%;
}

#answer1,
#answer2,
#answer3 {
  width: 70%;
  margin-left: 3em;
  background-color: #f8fbfd;
  padding: 1em;
  border-radius: 10px;
}

.hide {
  display: none;
}

/*----------MEDIA QUERIES------------*/

@media (min-width: 1270px) {
  .about-container {
    margin-left: 3em;
  }

  .about-left {
    padding-right: 2em;
  }
}

@media (min-width: 1500px) {
  .about-container {
    margin-left: 5em;
  }

  .about-left {
    padding-right: 3em;
  }
}
