.footer {
    display: flex; 
    width: 100%; 
    height: auto; 
    background-color:#F8FBFD;
    border-color: #3699E2;
    justify-content: center; 
    align-items:center; 
    margin: 0 auto; 
}

.logo {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    margin: 2rem auto;
    justify-content:center; 
    align-items:center; 
}

.logo img {
   width: 200px;
   margin-bottom:0;
}


.logo p {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight:bold; 
    color:#DC3C4D;
}


.socialMedia {
    display: flex; 
    width: 100%; 
    justify-content: center;
    align-items: center;
}


.icon {
    width: 40px; 
    height: 40px;  
    color: #DC3C4D;
    border-radius: 50%;
    border: 1px solid #DC3C4D;
    margin-left: 2%;
}


.footerContent {
   display: flex;
   width: 100%; 
   justify-content:center;
   align-items: center;
   background-image: url(../img/transparent-background/19.png);

}


.footerContent p{
    margin-right: 4%; 
}